*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  /* box-sizing: border-box; */
  font-size: 62.5%;
}

body {
  color: #606c76;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: deeppink;
  font-weight: bold;
}

a.primary {
  color: deeppink;
  border: 1px solid deeppink;
  padding: 2px 5px;
  font-weight: bolder;
}

#root {
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.App {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: 2fr 3fr 15fr;
  max-height: 100vh;
  grid-template-areas: "header header"
    "nav nav"
    "main aside"
}

header {
  grid-area: header;
}

nav {
  margin: 0 -2px;
  grid-area: nav;
  line-height: 100%;
  height: 100%;

}

nav a {
  line-height: 100%;
  height: 100%;
  text-align: center;
}

nav form {
  position: relative;
}

nav form fieldset {
  border: 1px solid rgb(70, 70, 70);
}

nav form input {
  padding: 10px;
  margin: 0 10px;
  width: 10vw;
  border: 1px solid rgb(26, 0, 139);
  box-shadow: inset -3px -3px 10px #ddd;
}


main {
  grid-area: main;
  padding-top: 1vh;
}

main img {
  max-width: 90%;
  margin: 0 auto;
}

main.full-car {
  grid-column-start: 1;
  grid-column-end: -1;
}

aside {
  padding-top: 1vh;
  grid-area: aside;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

aside ul {
  margin: 0;
}

aside ul li {
  list-style-type: none;
  border: 1px solid #ccc;
  padding: 6px;
  margin-bottom: 2px;
}



aside ul li.active {
  border-left: 3px solid rgb(0, 0, 255);
  margin-left: -2px;
}

.rainbow-text {
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow {

  100%,
  0% {
    color: rgb(255, 0, 0);
  }

  8% {
    color: rgb(255, 127, 0);
  }

  41% {
    color: rgb(0, 255, 127);
  }

  58% {
    color: rgb(0, 127, 255);
  }

  66% {
    color: rgb(0, 0, 255);
  }

  75% {
    color: rgb(127, 0, 255);
  }

  83% {
    color: rgb(255, 0, 255);
  }

  91% {
    color: rgb(255, 0, 127);
  }
}
